# Python

Python is one of the most popular programming languages for machine learning, both in academia and in industry. As such, it is essential to learn this language for anyone interested in machine learning. In this section, we will review Python basics.

# *Data types*
In python a variable is a name which contains a value inside the memory of the computer , the variables must common use in python are:

*   Int
*   Str
*   float
*   boolean
*   List
*   tuple
*   dictionary

##*Integer and floats*##
Integer --> is a number that is not a fraction , in python is a number without a decimal point \\
Float --> floating -point number are numbers which have integer and decimal parts

In [16]:
num_int = 5
num_float =5.2
print(type(num_int))
print(type(num_float))

<class 'int'>
<class 'float'>

**Arithmetic operations**

Python supports the usual arithmetic operators:  

*   '+' (addition)
*   '*' (multiplication)
*   '/' (division)
*   '**' (power)
*   '//' (integer) --> takes the integer part of the division

In [17]:
print(5+4)
print(4*3)
print(25/5)
print(2**3)
print(14//3)

9
12
5.0
8
4

## Strings

Strings are used to store text. They can delimited using either single quotes or double quotes

In [18]:
string1 = "some text"
string2 = 'some other text'

Strings behave similarly to lists. As such we can access individual elements in exactly the same way

In [19]:
string1[3]

'e'

and similarly for slices

In [20]:
string1[5:]

'text'

String concatenation is performed using the `+` operator

In [21]:
string1 + " " + string2

'some text some other text'

## Lists

Lists are a container type for ordered sequences of elements. Lists can be initialized empty

In [22]:
my_list = []

or with some initial elements

In [23]:
my_list = [1, 2, 3]

Lists have a dynamic size and elements can be added (appended) to them

In [24]:
my_list.append(4)
my_list

[1, 2, 3, 4]

We can access individual elements of a list (indexing starts from 0)

In [25]:
my_list[2]

3

We can access "slices" of a list using `my_list[i:j]` where `i` is the start of the slice (again, indexing starts from 0) and `j` the end of the slice. For instance:


[Slicing in python](https://www.geeksforgeeks.org/python-list-slicing/)

In [26]:
my_list[1:3]

[2, 3]

Omitting the second index means that the slice shoud run until the end of the list

In [27]:
my_list[1:]

[2, 3, 4]

We can check if an element is in the list using `in`

In [28]:
5 in my_list

False

The length of a list can be obtained using the `len` function

In [29]:
len(my_list)

4

## Conditionals

As their name indicates, conditionals are a way to execute code depending on whether a condition is True or False. As in other languages, Python supports `if` and `else` but `else if` is contracted into `elif`, as the example below demonstrates.

In [30]:
my_variable = 5
if my_variable < 0:
  print("negative")
elif my_variable == 0:
  print("null")
else: # my_variable > 0
  print("positive")

positive

Here `<` and `>` are the strict `less` and `greater than` operators, while `==` is the equality operator (not to be confused with `=`, the variable assignment operator). The operators `<=` and `>=` can be used for less (resp. greater) than or equal comparisons.

Contrary to other languages, blocks of code are delimited using indentation. Here, we use 2-space indentation but many programmers also use 4-space indentation. Any one is fine as long as you are consistent throughout your code.

## Loops

Loops are a way to execute a block of code multiple times. There are two main types of loops: while loops and for loops.

While loop

In [31]:
i = 0
while i < len(my_list):
  print(my_list[i])
  i += 1 # equivalent to i = i + 1

1
2
3
4

For loop

In [32]:
for i in range(len(my_list)):
  print(my_list[i])

1
2
3
4

If the goal is simply to iterate over a list, we can do so directly as follows

In [33]:
for element in my_list:
  print(element)

1
2
3
4

## Functions

To improve code readability, it is common to separate the code into different blocks, responsible for performing precise actions: functions. A function takes some inputs and process them to return some outputs.

In [34]:
def square(x):
  return x ** 2

def multiply(a, b):
  return a * b

# Functions can be composed.
# square(multiply(3, 2))

To improve code readability, it is sometimes useful to explicitly name the arguments

In [35]:
square(multiply(a=3, b=2))

36

# Exercises

***Exercise 1***. Create a function which receives a list and return the same list backwards
Example:


input: list=[1,2,3,4,5]

Output: list=[5,4,3,2,1]

In [36]:
def backwards(list):
  # Write your function here
  return

**Exercise 2.** Using a conditional, write the [relu](https://en.wikipedia.org/wiki/Rectifier_(neural_networks)) function defined as follows

$\text{relu}(x) = \left\{
   \begin{array}{rl}
     x, & \text{if }  x \ge 0 \\
     0, & \text{otherwise }.
   \end{array}\right.$

In [37]:
def relu(x):
  # Write your function here
  return

**Exercise 3.** Using a foor loop, write a function that computes the [Euclidean norm](https://en.wikipedia.org/wiki/Norm_(mathematics)#Euclidean_norm) of a vector, represented as a list. WITHOUT IMPORTING ANY LIBRARY

In [38]:
def euclidean_norm(vector):
  # Write your function here
    return

**Exercise 4.** Create a function that receives a list of numbers and returns the count of how many numbers are positive, negative, even, and odd.

Also make use of the numpy library to find the mean, maximum value, and minimum value of the list

input --> list[1, 2, 3, 4,2,4,2]

output --> ***(even)*** 5, ***(odd)*** 2, ***(positive)***  7, ***(negative)***  0, ***(mean)***  2.57, ***(mazimum)***  4, ***(minimum)***  1

In [39]:
import numpy
def analyze_numbers(vector):
  # Write your function here
  return even, odd, positive, negative ,mean ,maximum,minimum

**Exercise 5.** create the tanh function using only (***np.exp***)  [tanh function](https://en.wikipedia.org/wiki/Hyperbolic_functions)and plot it


input --> vector(**x**)



return --> tanh value of (**x**) and graph



***HINT*** --> use matplotlib

In [40]:
def tanh_function(x):
  #write your function here
  return